/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(66, 67, 80);
}

/* Sidebar Container */
.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(66, 67, 80);
}

/* Close Button */
.close-button {
  border: none;
  background-color: rgb(66, 67, 80);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;

}

.close-button:hover,
.close-button:focus {
  opacity: 0.75;
}

/* List Item */
.list-item {
  background-color: rgb(66, 67, 80);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Söhne", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 15px;
  margin-bottom: 10px; /* Add margin bottom between items */
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: left; /* Align the text to the left within each item */
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 350px;
  transition: transform 0.2s ease-in-out;
}

ul {
  background-color: rgb(66, 67, 80); 
  overflow: hidden; /* or 'auto' if you want scrollbars to appear when needed */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  /* Hide horizontal scrollbar */
  overflow-x: hidden;
}

/* For Webkit-based browsers (Chrome, Safari) */
ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.list-item:hover,
.list-item:focus {
  opacity: 0.75;
}

.list-item:hover {
  transform: scale(1.1);
}

/* Input Field */
input[type="text"] {
  display: inline-block;
  width: calc(100% - 90px); /* Adjusted width to leave space for the add button */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(66, 67, 80);
}

/* Add Button */
button.add-button {
  display: inline-block;
  width: 80px; /* Adjusted width to fit within the screen */
  margin-left: 10px;
  background-color: rgb(66, 67, 80);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: "Söhne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}


button.add-button:hover,
button.add-button:focus {
  opacity: 0.75;
}

button.add-button:hover {
  transform: scale(1.1);
}

.tab-button {
  background-color: rgb(66, 67, 80);
  font-weight: 550;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Söhne", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  transition: opacity 0.2s ease-in-out;
  text-align: center; 
}

.tab-button.active {
  background-color: #fff; /* Set the active background color */
  color: rgb(66, 67, 80); /* Set the active text color */
}

.tab-container {
  background-color: rgb(66, 67, 80);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
